#banner {
  background-image: url(../images/tour_eiffel2.jpg);
  background-size: cover;
  height: 750px;
  padding: 250px 30px;
  margin-top: -20px;
 }

#banner h1{
  font-size: 50px;
  font-weight: 400;
  color: white;
}

#banner p {
  font-size : 25px;
  font-weight: 100;
  color: white;
}